// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #000000;
$danger: #000000;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
